.login-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.login-form > input {
  border: none;
  background-color: transparent;
  border: 2px solid #48484833;
  color: var(--text);

  padding: 6px 26px 6px 26px;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
  width: auto;
}
