footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  border-top: 2px solid #48484833;
  margin-top: 64px;
  color: var(--accent);
}

footer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

footer a {
  color: var(--accent);
  text-decoration: none;
  font-style: italic;
}

footer a:hover {
  scale: 1.1;
}

@media (max-width: 650px) {
  footer {
    padding: 24px 24px;
  }

  footer > div {
    gap: 24px;
  }

  .footer-copyright {
    display: none;
  }
}
