.nav-header {
  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;
  justify-content: center;
}

.navbar {
  width: min-content;
  text-transform: uppercase;
  border: 2px solid #48484833;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 48px;

  color: var(--accent);
  border-radius: 25px;
  padding: 12px 32px;
}

.nav-active {
  text-decoration: underline 1px;
  text-decoration-line: underline;
}

.navbar > p {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text);
}

.navbar > button,
.login-form > button,
.preview-container button {
  border: none;
  background-color: #cbc6bd;
  color: #43403a;
  padding: 6px 26px 6px 26px;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px #43403a55;
}

.navbar > button:hover,
.login-form > button:hover,
.preview-container button:hover {
  background-color: var(--accent);
  scale: 1.1;
}

.navbar > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

@media (max-width: 768px) {
  .navbar > button {
    display: none;
  }
  .navbar {
    padding: 8px 20px;
  }

  .navbar > p {
    font-size: 1rem;
  }
}

.navbar > div > span:hover,
.navbar > button:hover,
.login-form > button:hover,
.preview-container button:hover {
  cursor: pointer;
  scale: 1.1;
}
