.project-article {
  position: relative;
}

.project-article > h3 {
  margin-top: 24px;
  color: var(--text);
}

.project-article > p {
  margin-top: 8px;
  color: var(--accent);
}

.project-article > p > a {
  color: var(--accent);
  font-style: italic;
}

.project-image,
.fake-image {
  width: 300px;
  height: 420px;
}

.project-image {
  object-fit: cover;
  border-radius: 16px;
}

.project-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: var(--accent) 66;
}

.project-icon:hover {
  cursor: pointer;
  background-color: var(--accent) dd;
  scale: 1.1;
}
